<div class="header-container">
  <h1 class="title">Desactivar estudiante
    <hr>
  </h1>
</div>

<div class="card">
  <div class="contenedor">

    <mat-form-field>
      <mat-label> <mat-icon>search</mat-icon> Codigo estudiante</mat-label>
      <input matInput placeholder="buscar">
    </mat-form-field>
    <mat-list>
      <mat-list-item>Nombre: nombreEstudiante</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Apellido: apellidoEstudiante</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tipo de documento: C.C.</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Numero de documento: 15154613</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Estado: Activo</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Genero: M</mat-list-item>
    </mat-list>

    <div class="button-container">
      <button mat-fab extended (click)="volver()">&nbsp; Volver &nbsp;</button> &nbsp;
      <button mat-fab extended color="primary">&nbsp; Desactivar &nbsp;</button>
    </div>

  </div>
</div>
