.contenedor {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.data-container{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  padding-bottom: 0px;
  background-color: #f8f8f8;
}

.button-container{
  display: block;
  justify-content: center;
  text-align: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  height: 60%;
  margin: 0% 20%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.main-container{
  width: 40%;
  flex-direction: row;
}

.main-container img{
width: 80%;
}

