<div class="header-container">
  <h1 class="title">Visualizar estudiante <hr></h1>
</div>

<div class="card">
  <div class="contenedor">
  <div class="main-container">

    <img src=".\assets\images\7.jpg" alt="">
    <h2> apellidoEstudiante, Nombre estudiante</h2>
    <h3><i>20218544</i></h3>
  </div>
  <div class="data-container">

    <h2>Informacion:</h2>
    <mat-list>
      <mat-list-item>Tipo de documento: C.C.</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Numero de documento: 15154613</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Estado: Activo</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Genero: M</mat-list-item>
    </mat-list>

    <div class="button-container">
      <button mat-fab extended (click)="volver()">&nbsp; Volver &nbsp;</button> &nbsp;
    </div>

  </div>
</div>
</div>
