<div class="main-container">
<div class="header-container">
  <h1 class="title">INSCRIPCIONES <hr></h1>
</div>
<div class="container">
  <div class="button-container">
    <div class="card">

      <img src=".\assets\images\userCreate.png" alt="" class="imgCard">

      <button mat-fab extended color="primary" class="card-button" (click)="crear()">
        <div class="card-text">Crear</div>
      </button>
    </div>
    <div class="card">
      <img src=".\assets\images\userSearch.png" alt="" class="imgCard">
      <button mat-fab extended color="primary" class="card-button" (click)="buscar()">
        <div class="card-text">Buscar</div>
      </button>
    </div>
    <div class="card">
      <img src=".\assets\images\userDisable.png" alt="" class="imgCard">
      <button mat-fab extended style="background-color: rgb(190, 68, 23); color: white;" class="card-button" (click)="desactivar()">
        <div class="card-text">Desactivar</div>
      </button>
    </div>
  </div>
</div>
</div>

