.contenedor {
  display: flex;
  height: 90%;
  margin: 10% 2%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  padding-bottom: 0px;
  background-color: #f8f8f8;
}

.img-container{
  display: block;
  flex-direction: column;
  width: 200px;
  padding-top: 2%;
}

.data-container{
  display: block;
  flex-direction: column;
  margin:1rem auto;
  max-width: 900px;
}

.input-cod{
  width: 29%;
  margin: 0% 2%;
}

.input-data{
  width: 48%;
  margin: 0% 1%;
}

.upload-container label {
  cursor: pointer;
}

.upload-container input[type="file"] {
  display: none;
}

.image-container {
  margin-top: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.button-add{
  padding-left: 33%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin: 0% 8%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

