<div class="header-container">
  <h1>Registro de inscripción
    <hr>
  </h1>
</div>
<div class="card">
<div class="contenedor">

  <div class="data-container">

    <mat-form-field class="input-data">
      <input matInput [(ngModel)]="studentCode" type="number" placeholder="Ingrese el codigo del estudiante">
    </mat-form-field>

    <mat-form-field class="input-data">
        <input matInput [(ngModel)]="subjectCode" type="number" placeholder="Ingrese el codigo de la asignatura">
    </mat-form-field>

    <mat-form-field class="input-data">
      <input matInput [(ngModel)]="inscriptionDate" type="datetime-local" placeholder="Ingrese la fecha de inscripcion">
    </mat-form-field>

    <div class="button-add">
    <button mat-fab extended color="primary">&nbsp; Agregar &nbsp;</button>
  </div>
  </div>
</div>
</div>
